:root {
    --cor-primaria-green: #0ca778;
    --cor-primaria-green-black: #244242;
    --cor-primaria-white: #ffffff;
    --cor-secundaria-grey: #fafafa;
    --cor-secundaria-black: #000000;
    --border-radius: 8px;
}