@import url(../components/header.css);
@import url(../components/footer.css);
@import url(../global.css);
@import url(../reset.css);
@import url(../variaveis.css);

.section-pessoas {
    display: flex;
    align-items: center;
}

.titulo-nossa-equipe{
    color: var(--cor-primaria-green-black);
    font-size: 5vh;
    padding: 3vh;
    text-align: center;
}

.pessoa-equipe{
    display: block;
    text-align: center;
}

.pessoa-equipe img{
    border-radius: var(--border-radius);
}

.pessoa-equipe h1{
    color: var(--cor-primaria-green-black);
    font-weight: 400;
    font-size: 5vh;
}
.pessoa-equipe h2{
    color: var(--cor-primaria-green-black);
    font-weight: 400;
    font-size: 3vh;
}

.pessoas-equipe{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    margin: auto;
    justify-content: center;
}
